:root {
   --gold: #f9dba0;
   --light-blue: rgb(93, 191, 236);
   --light-blue2: rgb(166, 222, 248);
   --light-grey: rgb(238, 238, 238);
   --darker-grey: rgb(209, 209, 209);
}

*,
*::after,
*::before {
   box-sizing: inherit;
}

body {
   box-sizing: border-box;
   font-family: "Lucida Console", sans-serif;
}

.header {
   display: flex;
   background: var(--light-blue);
   color: rgb(0, 0, 0);
   justify-content: space-between;
   align-items: center;
   border-radius: 20px 20px 10px 10px;
   border: solid;
}

.header,
.main {
   max-width: 40rem;
   margin: 0 auto;
   padding: 1rem;
}

.header__link {
   text-decoration: none;
   color: inherit;
   transition: color 0.2s ease-in-out;
}

.header__link:hover {
   color: var(--gold);
}

.header__logo {
   margin: 0;
   font-size: 2rem;
}

.form {
   display: flex;
   flex-direction: column;
   font-size: 1.1rem;
}

.form__input {
   padding: 1rem;
   font-family: inherit;
   font-size: inherit;
   resize: none;
   border: 3px solid #000;
   border-radius: 6px;
   background: #fafafa;
   margin-bottom: 1rem;
}

.form__button {
   font-size: inherit;
   background: var(--light-blue);
   cursor: pointer;
   border-radius: 6px 6px 3px 3px;
   padding: 0.5rem 2.5rem;
   align-self: flex-end;
   transition: background-color 0.1s ease-in-out;
}

.form__button:hover {
   background-color: var(--gold);
}

.main {
   font-family: inherit;
   font-size: inherit;
   margin-top: 1rem;
}

.dates {
   display: flex;
   justify-content: space-around;
   color: #000;
   font-size: 1.1rem;
   margin-bottom: 2.5rem;
}

.dates__link {
   color: inherit;
   text-decoration: none;
   outline: none;

   padding: 0.25rem 0.75rem;
   border-radius: 6px;
}

.dates__link--current {
   background-color: var(--light-blue2);
}

.dates__link:not(.dates__link--current):hover {
   background-color: var(--darker-grey);
}

.date {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.dates__link:first-of-type,
.dates__link:nth-of-type(2),
.dates__link:last-of-type,
.dates__link:nth-last-of-type(2) {
   display: none;
}

@media screen and (min-width: 25rem) {

   .dates__link:nth-of-type(2),
   .dates__link:nth-last-of-type(2) {
      display: block;
   }
}

@media screen and (min-width: 35rem) {

   .dates__link:first-of-type,
   .dates__link:last-of-type {
      display: block;
   }
}

.habit {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   font-size: 26px;
   padding: 20px;
   margin-bottom: 20px;
   background-color: var(--light-blue2);
   border: 3px solid black;
   border-radius: 20px 20px 20px 20px;
   transition: background-color .2s ease-in-out;
}

.habit:not(.completed) {
   padding: 0;
}

.habit:not(.completed):hover {
   background-color: var(--gold);
}

.habit__icon {
   width: 1em;
   height: 1em;
}

.habit__name {
   margin: 0;
}

.habit__form {
   width: 100%;
}

.habit__button {
   display: block;
   width: 100%;
   margin: 0;
   padding: 20px;
   font-family: inherit;
   font-size: inherit;
   text-align: left;
   border: none;
   background-color: unset;
   cursor: pointer;
}